extends layout.pug
block content
  button#get-button READ
  form
    input#name(name='name', value='', type='text')
    |  
    input#password(name='password', value='', type='text')
    |  
    button#signin-button Sign in
    button#signup-button Sign up
  table
    thead
      tr
        th ID
        th Name
        th Actions
    tbody